h1 {
    text-shadow: 0 0 3px rgba(0, 115, 255, 0.61);
}

#region{
    margin-top: 20px;
    margin-bottom: 20px;
}
#loginButton{
    <!--margin-left: 15px;-->
    width: 55px;
    height: 30px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px
}
#loginButton:hover{
    opacity: 0.8;
}